{% extends "base.html" %}
{% block content %}
    
        <section id="page-header" class="about-header">
                <h2>#Let's_talk</h2>
    
                <p>LEAVE A MESSAGE, We love to hear from you!</p>
        </section>
    
        <section id="contact-details" class="section-p1">
            <div class="details">
                <span> GET IN TOUCH </span>
                <h2> Visit one of our agency loactions or contact us today</h2>
                <h3> Head Office </h3>
                <div>
                    <li>
                        <i class="fal fa-map"></i>
                        <p>Daulat Ram Complex Ridge Sanjauli Rd, Lakkar Bazar, Shimla, Himachal Pradesh, 171001</p>
                    </li>
                    <li>
                        <i class="fal fa-envelop"></i>
                        <p>contact@example.com</p>
                    </li>
                    <li>
                        <i class="fal fa-phone-alt"></i>
                        <p>contact@example.com</p>
                    </li>
                    <li>
                        <i class="fal fa-clock"></i>
                        <p>Monday to Saturday, 9:00am to 4:00pm</p>
                    </li>
                </div>
            </div>
    
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3416.147830886006!2d77.1774871!3d31.105623000000023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390578915e238c6d%3A0xcbb4f9903327735a!2sDaulat%20Ram%20Complex%2C%20Ridge%20Sanjauli%20Rd%2C%20Lakkar%20Bazar%2C%20Shimla%2C%20Himachal%20Pradesh%20171001!5e0!3m2!1sen!2sin!4v1746602082694!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </section>
    
        <section id="form-details">
            <form action="" method="post">
                <span> LEAVE A MESSAGE </span>
                <h2>We love to hear from you</h2>
                <input type="text" name="name" placeholder="Your Name" required>
                <input type="email" name="email" placeholder="E-mail" required>
                <input type="text" name="subject" placeholder="Subject">
                <textarea name="message" cols="30" rows="10" placeholder="Your Message" required></textarea>
                <button class="normal" type="submit"> Submit </button>
            </form>
    
            <div class="people">
                <div>
                    <img src="{{url_for('static', filename='images/people/1.png') }}" alt="">
                    <p><span> John Doe </span> Senior Marketing Manager <br> Phone: +000 123 000 77 88
                    <br> Email: contact@example.com </p>
                </div>
    
                <div>
                    <img src="{{url_for('static', filename='images/people/2.png') }}" alt="">
                    <p><span> William Smith </span> Senior Marketing Manager <br> Phone: +000 123 000 77 88
                    <br> Email: contact@example.com </p>
                </div>
    
                <div>
                    <img src="{{url_for('static', filename='images/people/3.png') }}" alt="">
                    <p><span> Emma Stone </span> Senior Marketing Manager <br> Phone: +000 123 000 77 88
                    <br> Email: contact@example.com </p>
                </div>
            </div>
        </section>
    
        <section id="newsletter" class="section-p1 section-m1">
            <div class="newstext">
                <h4>Sign Up For Newsletters</h4>
                <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
            </div>
            <div class="form">
                <input type="text" placeholder="Your email address">
                <button class="normal">Sign Up</button>
            </div>
        </section>
     

{% endblock %}